
.vs/ClientServerProgram/v15/.suo
.vs/ClientServerProgram/v15/Browse.VC.db
.vs/ClientServerProgram/v15/Browse.VC.opendb
.vs/ClientServerProgram/v15/ipch/7a8a7babac31b610.ipch
ClientServerProgram.sln
ClientServerProgram/ClientServerProgram.vcxproj
ClientServerProgram/ClientServerProgram.vcxproj.filters
ClientServerProgram/ClientServerProgram.vcxproj.user
ClientServerProgram/Debug/ClientSe.542DBA2C.tlog/CL.command.1.tlog
ClientServerProgram/Debug/ClientSe.542DBA2C.tlog/CL.read.1.tlog
ClientServerProgram/Debug/ClientSe.542DBA2C.tlog/CL.write.1.tlog
ClientServerProgram/Debug/ClientSe.542DBA2C.tlog/ClientServerProgram.lastbuildstate
ClientServerProgram/Debug/ClientSe.542DBA2C.tlog/link.command.1.tlog
ClientServerProgram/Debug/ClientSe.542DBA2C.tlog/link.read.1.tlog
ClientServerProgram/Debug/ClientSe.542DBA2C.tlog/link.write.1.tlog
ClientServerProgram/Debug/ClientServerProgram.Build.CppClean.log
ClientServerProgram/Debug/ClientServerProgram.log
ClientServerProgram/Debug/ClientServerProgram.obj
ClientServerProgram/Debug/ClientServerProgram.pch
ClientServerProgram/Debug/stdafx.obj
ClientServerProgram/Debug/vc141.idb
ClientServerProgram/Debug/vc141.pdb
ClientServerProgram/stdafx.cpp
ClientServerProgram/stdafx.h
ClientServerProgram/targetver.h
Debug/ClientServerProgram.ilk
Debug/ClientServerProgram.pdb
